.book_div{
    margin-top: 20px;
}

.books_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

}

.back_link{
    text-decoration: none;
    color: #090937;
    font-weight: 700;
}

.back_div{
    margin-bottom: 20px;
    margin-top: 20px;
}

.container{
    margin: 30px;
}

.search_input {
    width: 40%;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('../../assets/Lupa.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-color: #F4F4FF;
    border: none;
}

.search_div{
    display: flex;
    justify-content: center;
}