.book_div{
    margin-top: 20px;
}

.books_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

}

.back_link{
    text-decoration: none;
    color: #090937;
    font-weight: 700;
}

.back_div{
    margin-bottom: 20px;
    margin-top: 20px;
}

.container{
    margin: 30px;
}