.Banner{
    position: absolute;
    top: 0;
    bottom: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.Banner_div{
    width: 100%;
    height: 100vh;
    position: relative;
}

.generos_main_div{
    position: relative;
    bottom: 400px;
}

.generos_div{
    position: relative;
    bottom: 400px;
    margin-left: 295px;
}